{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mt-4 border mb-4 mx-auto rounded pt-4">
            <div class="text-center col">

                <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Shopping_cart_with_food_clip_art_2.svg/307px-Shopping_cart_with_food_clip_art_2.svg.png" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            <div class="display-8">Log In To Account</div>
            <hr>
            </div>
            <h3 hidden class="alert alert-light border mt-4 mb-4 rounded">Login Here</h3>
            <form action="/login/" method="POST">

                {% csrf_token %}

											  <input type="text" name="username" placeholder="Username">
											  <input type="password" name="password" placeholder="Password">
											  <input type="submit" name="" value="Login">


            </form>
        </div>
    </div>
</div>

{% endblock %}